<!-- @deprecated since TYPO3 v14.2, will be removed in v15. This template acts as a placeholder only – its content is immediately replaced by the <typo3-form-form-element-stage-item> web component. See Deprecation #109306. -->
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<span><f:translate key="LLL:EXT:form/Resources/Private/Language/Database.xlf:formEditor.elements.UnknownElement" /></span>
</html>
