<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
    <f:form.validationResults for="{element.rootForm.identifier}.{element.identifier}">
        <f:if condition="{element.properties.elementDescription}">
            <f:variable name="aria" value="{describedby: '{element.uniqueIdentifier}-desc'}" />
        </f:if>
        <f:if condition="{validationResults.errors}">
            <f:variable name="aria" value="{invalid: 'true', describedby: '{element.uniqueIdentifier}-errors'}" />
        </f:if>

        <f:render partial="Field/Field" arguments="{element: element}" contentAs="elementContent">
            <formvh:form.uploadedResource
                property="{element.identifier}"
                as="image"
                id="{element.uniqueIdentifier}"
                class="{element.properties.elementClassAttribute}"
                errorClass="{element.rootForm.renderingOptions.fieldProperties.errorClassAttribute}"
                additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
                accept="{element.properties.allowedMimeTypes}"
                aria="{aria}"
                multiple="{element.properties.multiple}"
            >
                <f:if condition="{image}">
                    <f:if condition="{element.properties.multiple}">
                        <f:then>
                            <ul id="{element.uniqueIdentifier}-preview" class="form-element-imageupload-list">
                                <f:for each="{image}" as="singleImage" iteration="iterator">
                                    <li class="form-element-imageupload-item form-element-imageupload-item-{singleImage.originalResource.extension}">
                                        <a href="{f:uri.image(image: singleImage, maxWidth: element.properties.imageLinkMaxWidth)}" class="form-element-imageupload-link">
                                            <f:image image="{singleImage}" maxWidth="{element.properties.imageMaxWidth}" maxHeight="{element.properties.imageMaxHeight}" alt="{singleImage.originalResource.originalFile.name}" class="form-element-imageupload-thumbnail"/>
                                        </a>
                                        <f:if condition="{element.properties.allowRemoval}">
                                            <label class="form-element-imageupload-remove">
                                                <formvh:form.uploadDeleteCheckbox
                                                    property="{element.identifier}"
                                                    fileReference="{singleImage}"
                                                    fileIndex="{iterator.index}"
                                                />
                                                <f:translate key="upload.remove" domain="form" default="Remove" />
                                                <span class="visually-hidden">{singleImage.originalResource.originalFile.name}</span>
                                            </label>
                                        </f:if>
                                    </li>
                                </f:for>
                            </ul>
                        </f:then>
                        <f:else>
                            <div id="{element.uniqueIdentifier}-preview" class="form-element-imageupload-preview">
                                <a href="{f:uri.image(image: image, maxWidth: element.properties.imageLinkMaxWidth)}" class="form-element-imageupload-link">
                                    <f:image image="{image}" maxWidth="{element.properties.imageMaxWidth}" maxHeight="{element.properties.imageMaxHeight}" alt="{image.originalResource.originalFile.name}" class="form-element-imageupload-thumbnail"/>
                                </a>
                                <f:if condition="{element.properties.allowRemoval}">
                                    <label class="form-element-imageupload-remove">
                                        <formvh:form.uploadDeleteCheckbox
                                            property="{element.identifier}"
                                            fileReference="{image}"
                                            fileIndex="0"
                                        />
                                        <f:translate key="upload.remove" domain="form" default="Remove" />
                                        <span class="visually-hidden">{image.originalResource.originalFile.name}</span>
                                    </label>
                                </f:if>
                            </div>
                        </f:else>
                    </f:if>
                </f:if>
            </formvh:form.uploadedResource>
        </f:render>
    </f:form.validationResults>
</formvh:renderRenderable>
</html>
